<div class="navigator">
  @if (previousPokemon) {<a
    class="previous"
    [routerLink]="['/pokemon', previousPokemon.id]"
    [queryParams]="{ lang: selectedLanguage }"
    queryParamsHandling="merge"
    ><img class="sprite" [src]="previousPokemon.sprites.front_default"
  /></a>

  } @if (pokemonVarieties.length){<a
    class="current"
    [routerLink]="['/pokemon', pokemonId]"
    [queryParams]="{ lang: selectedLanguage }"
    queryParamsHandling="merge"
    ><img class="sprite" [src]="pokemonVarieties[0].sprites.front_default" /></a
  >} @if (nextPokemon) {<a
    class="next"
    [routerLink]="['/pokemon', nextPokemon.id]"
    [queryParams]="{ lang: selectedLanguage }"
    queryParamsHandling="merge"
    ><img class="sprite" [src]="nextPokemon.sprites.front_default" /></a
  >}
</div>

@if (pokemonVarieties.length > 1 && selectedForm) {
<div class="form-selector">
  <label for="formSelect">Choose Form:</label>
  <select id="formSelect" (change)="onFormChange($event)">
    @for (variety of pokemonVarieties; track variety) {
    <option
      [value]="variety.name"
      [selected]="variety.name === selectedForm?.name"
    >
      {{ formatFormName(variety.name) | titlecase }}
    </option>
    }
  </select>
</div>

<div class="box">
  <h1>#{{ pokemonId }}</h1>
  <h1>{{ translatedName | titlecase }}</h1>

  <img
    [src]="selectedForm.sprites.other['official-artwork'].front_default"
    alt="{{ selectedForm.name }}"
  />

  <div class="type">
    <img
      *ngFor="let type of selectedForm.types"
      [src]="getTypeSprite(type.type.name)"
      [alt]="type.type.name"
    />
  </div>
</div>
<ul>
  @for (ability of translatedAbilites; track ability.names) {
  <li>
    {{ getAbilityName(ability) }}
    @if (ability.is_hidden) {
    <span>(Hidden)</span>
    }
  </li>
  }
</ul>
<div>{{ convertHeight(selectedForm.height) }}</div>
<div>{{ convertWeight(selectedForm.weight) }}</div>

<div class="flavor-text">
  <p>{{ getFlavorText() }}</p>
</div>

@if (availableVersions.length > 1) {<select [(ngModel)]="selectedVersion">
  <option *ngFor="let version of availableVersions" [value]="version">
    {{ version | titlecase }}
  </option></select
>} @if (getVersionedSpriteUrl().front_default){<img
  [src]="getVersionedSpriteUrl().front_default"
  [alt]="selectedForm.name"
/>} } @else if (pokemonVarieties.length) {
<div class="box">
  <h1>#{{ pokemonId }}</h1>
  <h1>{{ translatedName | titlecase }}</h1>
  @for (variety of pokemonVarieties; track variety) {
  <img
    [src]="variety.sprites.other['official-artwork'].front_default"
    alt="pokemon"
  />
  }
  <div class="type">
    <img
      *ngFor="let type of pokemonVarieties[0].types"
      [src]="getTypeSprite(type.type.name)"
      alt="type.type.name"
    />
  </div>
</div>
@if(selectedForm){
<ul>
  @for (ability of translatedAbilites; track ability.names) {
  <li>
    {{ getAbilityName(ability) }}
    @if (ability.is_hidden) {
    <span>(Hidden)</span>
    }
  </li>
  }
</ul>

<div>{{ convertHeight(selectedForm.height) }}</div>
<div>{{ convertWeight(selectedForm.weight) }}</div>

<div class="flavor-text">
  <p>{{ getFlavorText() }}</p>
</div>
@if (availableVersions.length > 1) {<select [(ngModel)]="selectedVersion">
  <option *ngFor="let version of availableVersions" [value]="version">
    {{ version | titlecase }}
  </option></select
>} @if (getVersionedSpriteUrl().front_default){<img
  [src]="getVersionedSpriteUrl().front_default"
  [alt]="selectedForm.name"
/>} } }@if (latestCry ){
<audio controls [src]="latestCry"></audio>
} @if (legacyCry) {
<audio controls [src]="legacyCry"></audio>}
